<aside class="widget-container blog-about-author">
    <div class="widget-wrapper clearfix">
        <h3 class="widget-title">About Sarah</h3>		
        <article class="text-widget ">
		   <img src="{{ site.baseurl }}/images/me.png"  alt="Photo of Sarah" class="imgframe" />
	        <p>I want to live in a world where engineers can create good user experiences on their own.</p>
	        <p>I've been a UX Designer, an Applications Engineer, a Product Designer, a Product Manager, and a mobile app developer. I've been doing UX since 2005.</p> 
            <p>Follow me on <a href="https://www.quora.com/Sarah-Householder/answers">Quora</a>.</p>
        </article>		
        <!-- <a href="{{ site.baseurl }}/about/" class="button-more">More About Sarah</a> -->
    </div>
</aside>