<footer id="main-footer">
        <div id="main-footer-container" class="clearfix">
            <div id="footer-description" class="sidebar-footer">
                <div class="widget-title logo-text">{{ site.class-title }}</div>
                <p>{{ site.description }}</p>
                <ul id="list-contact">
                    <li class="icon-mail">uxdsarah@gmail.com</li>
                </ul>
            </div>
            <div id="sidebar-footer-left" class="sidebar-footer">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
                        <h3 class="widget-title">Sitemap</h3>
                        <ul>
                            <li><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/about/">About</a></li>
                            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                            <li><a href="{{ site.baseurl }}/signup/">Sign Up</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div id="sidebar-footer-middle" class="sidebar-footer">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
                        <h3 class="widget-title">Things I Like</h3>
                        <ul>
                            <li><a href="http://www.pinterest.com/thinkysarah/sarahs-succulents/">Succulents</a></li>
                            <li><a href="http://www.quora.com/What-is-a-Barbershop-Quartet/answer/Sarah-Householder?share=1">Barbershop quartets</a></li>
                            <li><a href="https://support.google.com/analytics/answer/2844870?hl=en">Multi-armed bandit testing</a></li>
                            <li><a href="https://www.google.com/search?q=japanese+chins&tbm=isch">Japanese Chins</a></li>
                            <li><a href="https://plus.google.com/108331845139673872608/about?gl=us&hl=en">Sushi</a></li>
                            <li><a href="https://www.quora.com/Sarah-Householder/answers">Quora</a></li>
                            <li><a href="http://www.ign.com/articles/2013/11/19/super-mario-3d-world-review">Super Mario 3D World</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div id="sidebar-footer-right" class="sidebar-footer">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
                        <h3 class="widget-title">From the Blog</h3>
                        <ul class="menu news-sidebar">          
                            <li class="clearfix">
                                <img src="{{ site.baseurl }}/images/posts/ux-vs-ui-design-footer.png" data-retina="{{ site.baseurl }}/images/posts/ux-vs-ui-design-footer@2x.png" alt="UX vs. UI Design" class="imgframe alignleft" />
                                <h4><a href="{{ site.baseurl }}/2015/02/23/ux-vs-ui-design.html">What's the difference between UX and UI?</a></h4>
                                <span class="date-news">February 23, 2015</span>
                            </li>
                            <li class="clearfix">
                                <img src="http://placehold.it/85x85" data-retina="http://placehold.it/170x170" alt="A new Office is opening by our President" class="imgframe alignleft" />
                                <h4><a href="#">A new Office is opening by our President</a></h4>
                                <span class="date-news">July 2, 2014</span>
                                <h5><a href="#">Comments (5)</a></h5>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div id="footer-copyright" class="clearfix">
                <h5>&copy; 2015 Sarah Householder</h5>
                <!-- <ul id="nav-footer">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> -->
            </div>
        </div>
        <a href="#" id="back-top"><span>Top</span></a>
    </footer>