---
layout: default
---
	<div id="hero-container" class="color-1">
        <img src="{{ site.baseurl }}/images/header-image-blog.png" data-retina="{{ site.baseurl }}/images/header-image-blog@2x.png" alt="ux blog header image" />
	</div>
    <header id="main-header" class="clearfix">
		<div id="intro-header-inner">
			<h1 id="main-title">{{ site.blog-title }}</h1>
		</div>
	</header>
    <div id="content" class="clearfix">
        <div id="main-content">
            {% for post in site.posts %}
                {% cycle '<article class="news-container">', '<article class="news-container last">' %}
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <img src="{{ site.baseurl }}/images/posts/{{ post.image }}-panel.png" data-retina="{{ site.baseurl }}/images/posts/{{ post.image }}-panel@2x.png" alt="blog post image" />
                    </a>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="panel-news-link">
                        <div class="panel-news">
                            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: '%B %d, %Y' }}</time>
                            <h2>{{ post.blog-list-title }}</h2>
                            <span class="more-news">Read More</span>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
        <!-- <div class="blog-pagination clearfix">
            <div class="button-prev"><a href="#">Previous Entries</a></div>
            <div class="button-next"><a href="#">Next Entries</a></div>
        </div>   -->
        <div id="sidebar">
            <aside class="widget-container">
                <div class="widget-wrapper clearfix">
                    <form id="searchform" method="get" action="#">
                        <div>
                        <input type="text" name="s" id="s" size="15" />
                        <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form>
                </div>
            </aside>
            <!-- <aside class="widget-container">
                <div class="widget-wrapper clearfix">
                    <h3 class="widget-title">News Category</h3>
                    <ul>
                        <li><a href="#">Design News</a></li>
                        <li><a href="#">Economic</a></li>
                        <li><a href="#">From our Office</a></li>
                        <li><a href="#">Work &amp; Play</a></li>
                        <li><a href="#">International</a></li>
                    </ul>
                </div>
            </aside> -->
            <!-- <aside class="widget-container blog-about-author">
                <div class="widget-wrapper clearfix">
                    <h3 class="widget-title">About Sarah</h3>		
                    <article class="text-widget ">
					   <img src="{{ site.baseurl }}/images/me.png"  alt="Photo of Sarah" class="imgframe" />
				        <p>I'm a UX designer with a degree in CS and a specialization in HCI.</p>
                        <p>I want to live in a world where the principles of good UX are as well known to engineers as MVC, polymorphism, and algorithm design.</p>
                    </article>		
                </div>
            </aside> -->
            {% include about-sarah-sidebar.html %}
        </div>
    </div>
    <div id="bottom-page" class="signup-footer">
        <h3>Want to improve your UX skills? Sign up for {{ site.class-title }}.</h3>
        <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="http://webfactional.us5.list-manage.com/subscribe/post?u=7bbed81fd8066300c078d462e&amp;id=e052a900b4" method="post" class="general-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    
                <div class="mc-field-group">
                    <!-- <label for="mce-EMAIL">Email Address </label> -->
                    <input type="email" value="" name="EMAIL" class="required email" placeholder="you@example.com" id="mce-EMAIL">
                </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_7bbed81fd8066300c078d462e_e052a900b4" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Request early access" name="subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
    </div>