---
layout: default
active: blog
comments: true
---
	<div id="hero-container" class="color-1">
        <img src="{{ site.baseurl }}/images/header-image-blog.png" data-retina="{{ site.baseurl }}/images/header-image-blog@2x.png" alt="ux blog header image" />
	</div>
    <header id="main-header" class="clearfix">
		<div id="intro-header-inner">
			<h1 id="main-title">{{ site.blog-title }}</h1>
		</div>
	</header>
    <div id="content" class="clearfix">
        <div id="main-content">
            <article class="static-page blog-post">
                <h2 class="post-title">{{ page.title }}</h2>
                <ul class="news-info clearfix">
                    <li><em>By</em> <a href="#">{{ page.author }}</a></li>
                    <li class="last"><time datetime="2014-08-15">{{ page.date | date: "%b %-d, %Y" }}</time></li>
                </ul>
                <!-- <figure><img src="http://placehold.it/740x565" data-retina="http://placehold.it/1480x1130" alt="News Title" /></figure> -->
                {{ content }}

                </article>
                
                {% if page.comments %}
                <div id="comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'uxdsarah';
                        
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
                {% endif %}
            

            
        </div>
        <div id="sidebar">
            <aside class="widget-container search-widget-post">
                <div class="widget-wrapper clearfix">
                    <form id="searchform" method="get" action="#">
                        <div>
                        <input type="text" name="s" id="s" size="15" />
                        <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form>
                </div>
            </aside>
            {% include about-sarah-sidebar.html %}
        </div>
    </div>
    